# Archivos y carpetas generadas por Python
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignorar el entorno virtual completo
# (Reemplaza 'venv' si tu entorno se llama diferente)
venv/
.venv/

# Bases de datos SQLite (cada desarrollador tiene la suya)
db.sqlite3
*.sqlite3
db.sqlite3

#pycache de Natursur
Natursur/__pycache__/*
