{% extends "base.html" %}
{% block content %}

<section class="container py-5">
    <h2 class="text-center mb-4">Gestionar Citas</h2>

    {% for c in citas %}
    <div class="card mb-4 shadow" style="background-color:#013A40; color:white;">

        <div class="card-body">
            <h4>{{ c.service.title }}</h4>
            <h5>{{ c.tarifa.title }} — €{{ c.tarifa.price }}</h5>

            <p class="mt-3">
                Fecha: <strong>{{ c.date }}</strong><br>
                Hora: <strong>{{ c.time }}</strong>
            </p>

            <p class="text-warning">
                Cancelación o Modificación con 24 horas de antelación
            </p>

            <div class="d-flex gap-3">
                <a href="/citas/{{ c.id }}/editar/" class="btn btn-light">Modificar</a>
                <a href="/citas/{{ c.id }}/cancelar/" class="btn btn-danger">Cancelar</a>
            </div>
        </div>

    </div>
    {% endfor %}

</section>

{% endblock %}
